<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Subcategory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:align="center">Добавить подкатегорию платежа </h1>
<form action="/addSubcategory"   method="POST">
    <!--    <div class="transactionCategory">&ndash;&gt;-->
    <!--        <select>action="/addSubcategory"-->
    <!--            <option value="">Выберите категорию</option>-->
    <!--            <option th:each="transactionCategory : ${transactionCategories}"-->
    <!--                    th:if="${transactionCategory.getSuperCategory()} == null" th:text="${transactionCategory.title}">-->
    <!--            </option>-->
    <!--        </select>-->
    <!--    </div>-->
    <label >Категория</label>
    <select name="categoryId">
        <!--                <option value="">Выберите категорию</option>-->
        <option th:each="category : ${categories}"
                th:text="${category.value}" th:value="${category.key}">
        </option>
    </select>

<!--    <div th:align="center">-->
<!--        <label for="category">Категория</label>-->
<!--        <input name="superCategory" id="category">-->
<!--    </div>-->
    <div th:align="center">
        <label for="newSubcategory">Новая подкатегория</label>
        <input name="subcategory" id="newSubcategory">
    </div>
    <div th:align="center">
        <label for="subcategoryComments">Комментарии</label>
        <input name="comments" id="subcategoryComments">
    </div>
    <div th:align="center">
        <button>Добавить</button>
    </div>
</form>

<form th:align="center" action="/toCatalogs" method="GET">
    <button>Меню</button>
</form>

</body>
</html>

