<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:align="center">Добавить категорию платежа </h1>
<form action="/addCategory" method="POST">
    <div th:align="center">
        <label for="newCategory">Новая категория</label>
        <input name="category" id="newCategory">
    </div>
    <div th:align="center">
        <label for="categoryComments">Комментарии</label>
        <input name="comments" id="categoryComments">
    </div>
    <div th:align="center">
        <button>Добавить</button>
    </div>
</form>

<form th:align="center" action="/toCatalogs" method="GET">
    <button>Меню</button>
</form>

</body>
</html>

