<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Add Account Type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:align="center">Добавить тип счета </h1>
<form action="/addAccountType" method="POST">
    <div th:align="center">
        <label for="accountType">Новый тип счета</label>
        <input name="accType" id="accountType">
    </div>
    <div th:align="center">
        <label for="accountTypeComments">Комментарии</label>
        <input name="comments" id="accountTypeComments">
    </div>
    <div th:align="center">
        <button>Добавить</button>
    </div>
</form>

<form th:align="center" action="/toCatalogs" method="GET">
    <button>Меню</button>
</form>

</body>
</html>

