<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Add Financial Institute</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:align="center">Добавить финансовое учреждение </h1>
<form action="/addFinancialInstitute" method="POST">
    <div th:align="center">
        <label for="financialInstitute">Новое финансовое учреждение</label>
        <input name="finInstitute" id="financialInstitute">
    </div>
    <div th:align="center">
        <label for="bic">БИК</label>
        <input name="bic" id="bic">
    </div>
    <div th:align="center">
        <label for="financialInstituteComments">Комментарии</label>
        <input name="comments" id="financialInstituteComments">
    </div>
    <div th:align="center">
        <button>Добавить</button>
    </div>
</form>

<form th:align="center" action="/toCatalogs" method="GET">
    <button>Меню</button>
</form>


</body>
</html>

