<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Add Currency</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:align="center">Добавить валюту </h1>
<form action="/addCurrency" method="POST">
    <div th:align="center">
        <label for="newCurrency">Новый тип валюты</label>
        <input name="currency" id="newCurrency">
    </div>
    <div th:align="center">
        <label for="currencyComments">Комментарии</label>
        <input name="comments" id="currencyComments">
    </div>
    <div th:align="center">
        <button>Добавить</button>
    </div>
</form>

<form th:align="center" action="/toCatalogs" method="GET">
    <button>Меню</button>
</form>

</body>
</html>

