<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список транзакций</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<table>-->
<!--    <tr th:each="category: ${categories}">-->
<!--        <td th:text="${category}" />-->
<!--        <td th:text="${transaction.date}" />-->
<!--        <td th:text="${transaction.sum}" />-->
<!--        <td th:text="${transaction.transactionCategory.title}" />-->
<!--        <td th:text="${transaction.sourceAccount.getAccountType().title}" />-->
<!--        <td th:text="${transaction.targetAccount.getAccountType().title}" />-->
<!--        <td th:text="${transaction.currencyRate}" />-->
<!--        <td th:text="${transaction.description}" />-->
<!--        <td th:text="${transaction.comments}" />-->
<!--    </tr>-->
<!--</table>-->

<!--<tr th:each="instance : ${analysis.instanceMap}">-->
<!--    <td th:text="${instance.key}">keyvalue</td>-->
<!--    <td th:text="${instance.value.numOfData}">num</td>-->
<!--</tr> th:action="@{/addAccount}" th:object="${accountTypes}" -->
<form method="get" th:action="@{/subcategory1}" th:object="${categoryId}">
    <div class="transactionCategory">
        <label>Выберите категорию</label>
        <!--<input name="category" id="transactionCategory">  th:field="*{categoryId}"th:field="*{categories[_${category.key}_].value}"-->
        <select th:name="${categoryId}" th:id="${categoryId}" th:selected="${categoryId}">
<!--            <option th:value="categoryId">Выберите категорию</option>-->
            <option th:each="category : ${categories}"
                    th:value="${category.key}" th:text="${category.value}" >
            </option>
        </select>
        <label>Выберите подкатегорию</label>
        <select>
            <!--                <option value="">Выберите подкатегорию</option>-->
            <option th:each="subcategory : ${subcategories}"
                    th:text="${subcategory.value}" th:value="${subcategory.key}"></option>
        </select>
        <button type="submit">submit</button>
    </div>
</form>






<!--<form method="get" action="subcategory">-->
<!--<div class="transactionCategory">-->
<!--    <label>Выберите категорию</label>-->
<!--    &lt;!&ndash;<input name="category" id="transactionCategory">  th:field="*{categoryId}"th:field="*{categories[_${category.key}_].value}"&ndash;&gt;-->
<!--    <select name="categoryId" >-->
<!--        &lt;!&ndash;                <option value="">Выберите категорию</option>&ndash;&gt;-->
<!--        <option th:each="category : ${categories}"-->
<!--                th:value="${category.key}" th:text="${category.value}" >-->
<!--        </option>-->
<!--    </select>-->
<!--    <label>Выберите подкатегорию</label>-->
<!--    <select>-->
<!--        &lt;!&ndash;                <option value="">Выберите подкатегорию</option>&ndash;&gt;-->
<!--        <option th:each="subcategory : ${subcategories}"-->
<!--                th:text="${subcategory.value}" th:value="${subcategory.key}"></option>-->
<!--    </select>-->
<!--    <button type="submit">Назад</button>-->
<!--</div>-->
<!--</form>-->

<!--<form th:align="center" action="/transactionMenu" method="GET">-->
<!--    <button>Назад</button>-->
<!--</form>-->
</body>
</html>
