<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список транзакций</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr th:each="transaction: ${transactions}">
        <td th:text="${transaction.id}" />
        <td th:text="${transaction.date}" />
        <td th:text="${transaction.sum}" />
        <td th:text="${transaction.transactionCategory.title}" />
        <td th:text="${transaction.sourceAccount.getAccountType().title}" />
        <td th:text="${transaction.targetAccount.getAccountType().title}" />
        <td th:text="${transaction.currencyRate}" />
        <td th:text="${transaction.description}" />
        <td th:text="${transaction.comments}" />
    </tr>
</table>
<form th:align="center" action="/transactionMenu" method="GET">
    <button>Назад</button>
</form>
</body>
</html>
