<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Select transaction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<div class="accountType">-->
<!--    <select>-->
<!--        <option>Выберите тип счета</option>-->
<!--        <option th:each="accountType : ${accountTypes}" th:text="${accountType.title}">-->
<!--        </option>-->
<!--    </select>-->
<!--</div>-->
<!--<div class="currencyType">-->
<!--    <select>-->
<!--        <option>Выберите валюту</option>-->
<!--        <option th:each="currencyType : ${currencyTypes}" th:text="${currencyType.title}">-->
<!--        </option>-->
<!--    </select>-->
<!--</div>-->
<!--<div class="financialInstitute">-->
<!--    <select>-->
<!--        <option>Выберите финансовое учреждение</option>-->
<!--        <option th:each="financialInstitute : ${financialInstitutes}" th:text="${financialInstitute.title}">-->
<!--        </option>-->
<!--    </select>-->
<!--</div>-->
<!--<div class="transactionType">-->
<!--    <select>-->
<!--        <option value="">Выберите тип транзакции</option>-->
<!--        <option th:each="transactionType : ${transactionTypes}" th:text="${transactionType.title}">-->
<!--        </option>-->
<!--    </select>-->
<!--</div>-->

<!--<div class="transactionCategory">-->
<!--    <select>-->
<!--        <option value="">Выберите категорию</option>-->
<!--        <option th:each="transactionCategory : ${transactionCategories}"-->
<!--                th:if="${transactionCategory.getSuperCategory()} == null" th:text="${transactionCategory.title}">-->
<!--        </option>-->
<!--    </select>-->

<!--    <select>-->
<!--        <option value="">Выберите подкатегорию</option>-->
<!--        <option value="" th:each="transactionCategory : ${transactionCategories}"-->
<!--                th:if="${transactionCategory.getSuperCategory()} != null" th:text="${transactionCategory.title}"></option>-->
<!--    </select>-->
<!--</div>-->
<!--<div>-->
<!--    <select th:each="category : ${transactionCategoryMap}" >-->
<!--        <option th:text="${category.key.title}"></option>-->
<!--        <option th:each="subcategory : ${category.value}" th:text="${subcategory.title}"></option>-->
<!--    </select>-->
<!--</div>-->

<h1 align="center">Поиск транзакции</h1>
    <!-- <div>
    <table align="center">
        <tr>
            <th>
                <form action="/searchTransactionByDate" method="GET">
                    <button>Дате</button>
                </form>
            </th>
             <th>
                <form action="/searchTransactionBySum" method="GET">
                    <button>Сумме</button>
                </form>
            </th>
             <th>
                <form action="/searchTransactionByCategoty" method="GET">
                    <button>Категории</button>
                </form>
            </th>
            <th>
                <form action="/searchTransactionByDateAndCategory" method="GET">
                    <button>Дате и категории</button>
                </form>
            </th>
            <th>
                <form action="/searchTransactionByAccount" method="GET">
                    <button>Счету</button>
                </form>
            </th>
            <th>
                <form action="/transactionsList" method="GET">
                    <button>Список всех платежей</button>
                </form>
            </th>
        </tr>
    </table>
    </div> -->
<form align="center" action="/selectTransaction" method="POST">
    <!-- <p>Поиск платежа</p> -->
    <div>
        <label for="transactionDate">Дата</label>
        <input name="date" id="transactionDate">
    </div>
    <div>
        <label for="transactionSum">Сумма</label>
        <input name="sum" id="transactionSum">
        <!-- окошки больше и меньше -->
    </div>
    <div>
        <label>Счет отправителя</label>
        <!--        <input name="sourceAccount" id="transactionSourceAccount">-->
        <select>
            <!--            <option>Выберите тип счета</option>-->
            <option th:each="account: ${accounts}" th:text="${account.title}">
            </option>
        </select>
    </div>

    <div>
        <label>Счет получателя</label>
        <!--        <input name="targetAccount" id="transactionTargetAccount">-->
        <select>
            <!--            <option>Выберите тип счета</option>-->
            <option th:each="account: ${accounts}" th:text="${account.title}">
            </option>
        </select>
    </div>

    <div class="accountType">
        <label>Тип счета</label>
        <select>
<!--            <option>Выберите тип счета</option>-->
            <option th:each="accountType : ${accountTypes}" th:text="${accountType.title}">
            </option>
        </select>
    </div>
  <!--   <div>
        <label for="transactionCurrencyRate">Курс валюты</label>
        <input name="currencyRate" id="transactionCurrencyRate">
    </div> -->

    <div class="transactionCategory">
        <label>Выберите категорию</label>
        <!--            <input name="category" id="transactionCategory">-->
        <select>
            <!--                <option value="">Выберите категорию</option>-->
            <option th:each="transactionCategory : ${transactionCategories}"
                    th:if="${transactionCategory.getSuperCategory()} == null" th:text="${transactionCategory.title}">
            </option>
        </select>
        <label>Выберите подкатегорию</label>
        <select>
            <!--                <option value="">Выберите подкатегорию</option>-->
            <option value="" th:each="transactionCategory : ${transactionCategories}"
                    th:if="${transactionCategory.getSuperCategory()} != null"
                    th:text="${transactionCategory.title}"></option>
        </select>
    </div>

 <!--    <div>
        <label for="transactionDescription">Назначение платежа</label>
        <input name="description" id="transactionDescription">
    </div> -->
 <!--    <div>
        <label for="transactionComments">Комментарии</label>
        <input name="comments" id="transactionComments">
    </div> -->
    <div>
        <button>Поиск</button>
    </div>
</form>
<form th:align="center" action="/transactionMenu" method="GET">
    <button>Назад</button>
</form>
</body>
</html>

