<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Category </title>
</head>
<body>
<h1> Choose Transaction Type </h1> <hr/>
<form th:action="@{/addCategoryChooseType}" th:object="${type}" method="post">
    Select Type <br/>
    <select th:field="*{type}">
        <option th:each="list : ${typeList}"
                th:value="${list.id}"
                th:text="${list.title}"></option>
    </select>
    <br/>
    <input type="submit" value="Submit">
</form>
<hr/>
</body>
</html>

