<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Category </title>
</head>
<body>
<h1> Choose Transaction Category </h1> <hr/>
<form th:action="@{/addCategoryChooseCategory}" th:object="${category}" method="post">
    Select Type <br/>
    <select th:field="*{category}">
        <option th:each="list : ${categoryList}"
                th:value="${list.id}"
                th:text="${list.title}"></option>
    </select>
    <br/>
    <input type="submit" value="Submit">
</form>
<hr/>
</body>
</html>

