<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Currency Type</title>
</head>
<body>
<h1> Add New Currency Type </h1> <hr/>
<form th:action="@{/addCurrencyType}" th:object="${currencyType}" method="post">
    Enter City Name <br/>
    <input type="text" th:field="*{title}"> <br/> <br/>
    <input type="submit" value="Submit">
</form>
<hr/>
<h3 th:text="${message}"></h3>
<a th:href="@{/home}">Go Home Page</a>
<center>
    <table border="5" width="30%">
        <tr>
            <th> Currency Type ID </th>
            <th> Currency Type Title </th>
        </tr>
        <tr th:each="tab : ${data}">
            <td th:text="${tab.id}">  </td>
            <td th:text="${tab.title}">  </td>
        </tr>
    </table>
</center>
</body>
</html>

