<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Account Operations </h1> <hr/>
<a th:href="@{/accountForm}">Add New Account</a>
<a th:href="@{/accountTypeForm}">Add New Account Type</a>
<a th:href="@{/currencyTypeForm}">Add New Currency Type</a>
<a th:href="@{/financialInstituteForm}">Add New Financial Institute</a>
</body>
</html>

