<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Transaction Operations </h1>
<hr/>
<a th:href="@{/transactionForm}">Add New Transaction</a>
<a th:href="@{/categoryForm}">Add New Category</a>
<a th:href="@{/subCategoryForm}">Add New SubCategory</a>
<a th:href="@{/currencyForm}">Add New Currency</a>
<a th:href="@{/statusForm}">Add New Status</a>
<a th:href="@{/typeForm}">Add New Type</a>
</br>
</br>
<a th:href="@{/listTransactions}">Transactions List</a>
<a th:href="@{/listCategories}">Categories List</a>
<a th:href="@{/listSubCategories}">SubCategories List</a>
<a th:href="@{/listCurrencies}">Currencies List</a>
<a th:href="@{/listStatuses}">Statuses List</a>
<a th:href="@{/listTypes}">Types List</a>
</br>
</br>
<a th:href="@{/listCategorySubcategory}">Category and SubCategory List</a>
<a th:href="@{/listTransactionTypes}">Transaction Types List</a>
</br>
</br>
<!--<a th:href="@{/test}">TEST</a>-->
<!--<a th:href="@{/listTest}">TEST LIST</a>-->
</br>
</br>
<a th:href="@{/transactionsFilter}">Status - Type - Category - SubCategory</a>
</br>
</br>
<a th:href="@{/test1}">TEST</a>
</body>
</html>

