<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Category </title>
</head>
<body>
<h1> Add New SubCategory </h1> <hr/>
<form th:action="@{/chooseType}" method="post">
<!--    Enter SubCategory Title <br/>-->
<!--    <input type="text" th:field="*{title}"> <br/><br/>-->
<!--    Select Type <br/>-->
<!--    <select th:field="*{category.type}">-->
<!--        <option th:each="list : ${typeList}"-->
<!--                th:value="${list.id}"-->
<!--                th:text="${list.title}"></option>-->
<!--    </select>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    Select Category <br/>-->
<!--    <select th:field="*{category}">-->
<!--        <option th:each="list : ${categoryList}"-->
<!--                th:value="${list.id}"-->
<!--                th:text="${list.title}"></option>-->
<!--    </select>-->
<!--    <br/>-->
<!--    <br/>-->


<!--    Enter SubCategory Title <br/>-->
<!--    <input th:field="*{title}" type="text">-->
<!--    <br/>-->
<!--    <br/>-->

    Select Type <br/>
    <select id="type" name="type">
<!--        <select th:field="*{category}" th:name="typeId" onchange="this.form.submit()">-->
<!--        <option th:value="default"> Выберите тип</option>-->
        <option th:each="list : ${typeList}"
                th:text="${list.title}" th:value="${list.id}"></option>
    </select>
    <input type="submit" value="Ok">
    <br/>
    <br/>
</form>
<form th:action="@{/chooseCategory}" method="post">
    Select Category <br/>
    <select id="category" name="category">
<!--        <select th:field="*{category}">-->
        <option th:each="list : ${categoryList}"
                th:text="${list.title}" th:value="${list.id}"></option>
    </select>
    <input type="submit" value="Ok">
    <br/>
<!--    th:if="${list.getType().getId()} == 2"-->
<!--    <option th:each="transactionCategory : ${transactionCategories}"-->
<!--            th:if="${transactionCategory.getSuperCategory()} == null" th:text="${transactionCategory.title}"-->
<!--            th:value="${transactionCategory.id}">-->
<!--    </option>-->
<!--    th:if="${list.title} == ${Питание}"-->
    <br/>

<!--    <input type="submit" value="Submit">-->
</form>

<form th:action="@{/addSubcategory}" method="post">
    Select SubCategory <br/>
    <select id="subCategory" name="subCategory">
        <!--        <select th:field="*{category}">-->
        <option th:each="list : ${subCategoryList}"
                th:text="${list.title}" th:value="${list.id}"></option>
    </select>
    <br/>
</form>
<hr/>
<h3 th:text="${message}"></h3>
<a th:href="@{/start}">Go Home Page</a>
</body>
</html>

