<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/add" method="POST">
<div class="accountType">
    <select>
        <option>Выберите тип счета</option>
        <option th:each="accountType : ${accountTypes}" th:text="${accountType.title}">
        </option>
    </select>
</div>
<div class="currencyType">
    <select>
        <option>Выберите валюту</option>
        <option th:each="currencyType : ${currencyTypes}" th:text="${currencyType.title}">
        </option>
    </select>
</div>
<div class="financialInstitute">
    <select>
        <option>Выберите финансовое учреждение</option>
        <option th:each="financialInstitute : ${financialInstitutes}" th:text="${financialInstitute.title}">
        </option>
    </select>
</div>
<div class="transactionType">
    <select>
        <option value="">Выберите тип транзакции</option>
        <option th:each="transactionType : ${transactionTypes}" th:text="${transactionType.title}">
        </option>
    </select>
</div>

<div class="transactionCategory">
    <select>
        <option value="">Выберите категорию</option>
        <option th:each="transactionCategory : ${transactionCategories}"
                th:if="${transactionCategory.getSuperCategory()} == null" th:text="${transactionCategory.title}">
        </option>
    </select>

    <select>
        <option value="">Выберите подкатегорию</option>
        <option value="" th:each="transactionCategory : ${transactionCategories}"
                th:if="${transactionCategory.getSuperCategory()} != null" th:text="${transactionCategory.title}"></option>
    </select>
</div>
<!--<div>-->
<!--    <select th:each="category : ${transactionCategoryMap}" >-->
<!--        <option th:text="${category.key.title}"></option>-->
<!--        <option th:each="subcategory : ${category.value}" th:text="${subcategory.title}"></option>-->
<!--    </select>-->
<!--</div>-->
<!--<form action="/add" method="POST">-->
<!--&ndash;&gt;-->
<!--    <p>Let's add a transaction</p>-->
<!--    <div>-->
<!--        <label for="transactionDate">Date</label>-->
<!--        <input name="date" id="transactionDate">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionSum">Sum</label>-->
<!--        <input name="sum" id="transactionSum">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionTypeList">Type</label>-->
<!--&lt;!&ndash;        <input name="type" id="transactionType">&ndash;&gt;-->
<!--&lt;!&ndash;        <form th:action="@{/transactionTypeList}" method="post">&ndash;&gt;-->
<!--        <select class="form-control" id="transactionTypeList" th:each="type : ${types}">-->
<!--&lt;!&ndash;            <option value="0">select option</option>&ndash;&gt;-->
<!--            <option  th:text="${type.name}"></option>-->
<!--        </select>-->
<!--        </form>-->
<!--        <select name="type" id="transactionType">-->
<!--            <option value="Зачисление">Зачисление</option>-->
<!--            <option value="Списание">Списание</option>-->
<!--        </select>-->

<!--        <form th:action="@{/courier/notInTime}" method="post">-->
<!--            <select class="form-control" id="task" name="task">-->
<!--                <option value="">Select task for disable</option>-->
<!--                <option th:each="task : ${tasks}"-->
<!--                        th:value="${task}"-->
<!--                        th:text="${task}">-->
<!--                </option>-->
<!--            </select>-->
<!--&lt;!&ndash;            <button type="submit">Not in time</button>&ndash;&gt;-->
<!--        </form>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionCategory">Category</label>-->
<!--        <input name="category" id="transactionCategory">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionSourceAccount">Source account</label>-->
<!--        <input name="sourceAccount" id="transactionSourceAccount">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionTargetAccount">Target account</label>-->
<!--        <input name="targetAccount" id="transactionTargetAccount">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionCurrencyRate">Currency Rate</label>-->
<!--        <input name="currencyRate" id="transactionCurrencyRate">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionDescription">Description</label>-->
<!--        <input name="description" id="transactionDescription">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="transactionComments">Comments</label>-->
<!--        <input name="comments" id="transactionComments">-->
<!--    </div>-->
<!--    <div>-->
<!--        <button>Add transaction </button>-->
<!--    </div>-->
<!--</form>-->
<!--<form action="/list" method="GET">-->
<!--    <button>List transactions</button>-->
<!--</form>-->
</body>
</html>

